@charset "UTF-8";

/* navbar background*/
.bg-secondary{
	background-image: url("../img/background/camo-pattern.jpg");
	background-size: cover;
	background-position: center;
}

@media ( max-width: 991px){
	.navbar-top-right{
		display: none;
	}
}
@media ( min-width: 992px){
	.navbar-login{
		display: none;
	}
}


/* login.jsp */
#loginDiv{
	margin-top: 30px;
}

.input{
	border-radius: 10px;
}


#loginBtn{
	border: 1px solid #fff;
	background-color: transparent;
	margin-top: 10px;
	padding: 5px 100px;
    border-radius: 25px;
    color: #fff;
}

#loginBtn:hover{
    border: 1px solid #2c3e50;
	background-color: transparent;
	margin-top: 10px;
	padding: 5px 100px;
    border-radius: 25px;
    color: #2c3e50;
    font-style: italic;
}

/*navigation.jsp    Menu bar */
.menu-bar li ul {
	background-image: url("../img/background/camo-pattern.jpg");
	display:none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:200px;
	z-index:200;
	list-style-type: none;
}

.menu-bar li:hover ul {
	display:block;   /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
}

.navbar-log-regi{
	margin-left:auto;
	float: right;
	margin-top: -50px; 
	word-spacing: 20px;
}

.navbar-top-right{
	color:#fff;
	border: 1px solid #fff;
	font-size: 12px;
	border-radius: 8px;
	padding: 3px;
}

.navbar-top-right:hover{
	color:#1abc9c;
	border: 1px solid #1abc9c;
	text-decoration: none;
}

/*section02.jsp */
.section2{
	background-color: #1abc9c;
}
/* 페이지 크기에 맞춤 */
.board{
	width: 100%;
}

.board-table{
	text-align: center;
	font-size: 14px;
}


.blocks{
	color: #fff;
}


/*content.jsp*/
.content-title{
	font-size: 20pt;
	fonf-weight: bold;
}

.reply-board{
	resize: none;
}




.bg-primary{
	background-image: url("../img/background/bg-primary.jpg");
}



























